<div class="p-10 space-y-4">
  <h1 class="text-3xl font-bold text-primary">Willkommen bei Mechus eigenem Theme!</h1>

  <button class="btn btn-primary">Primär-Button</button>
  <button class="btn btn-secondary">Sekundär-Button</button>
  <button class="btn btn-accent">Akzent-Button</button>

  <div class="alert alert-info">Info: Dies ist eine Info-Nachricht.</div>
  <div class="alert alert-success">Erfolg: Alles hat geklappt!</div>
  <div class="alert alert-warning">Warnung: Bitte aufpassen.</div>
  <div class="alert alert-error">Fehler: Etwas ist schiefgelaufen!</div>

  <button (click)="setThemeDependingOnTime()" class="btn btn-primary">Reset</button>
  <button (click)="setTheme('scuro')" class="btn btn-neutral">scuro Mode aktivieren</button>
  <button (click)="setTheme('nacht')" class="btn btn-neutral">Mechu Night Mode aktivieren</button>
  <button (click)="setTheme('tag')" class="btn btn-neutral">Mechu Day Mode aktivieren</button>
  <button (click)="setTheme('dark')" class="btn btn-neutral">Dark Mode aktivieren</button>
  <button (click)="setTheme('light')" class="btn btn-neutral">Light Mode aktivieren</button>

  <div class="mt-4 space-y-2">
    <label for="magicWord">Gib 'hallo' ein:</label>
    <input #magicInput type="text" id="magicWord" class="input" placeholder="Gib 'hallo' ein"
      (input)="checkInput(magicInput.value)" />
  </div>

  @if(inputMatch) {
    <p>Du hast 'hallo' eingegeben!</p>
  }

  @if(!inputMatch && magicWord) {
    <p>Input stimmt nicht überein.</p>
  }

  @if(inputMatch) {
    <button (click)="setTheme('morning')" class="btn btn-neutral">morning 🌅</button>
    <button (click)="setTheme('noon')" class="btn btn-neutral">noon 🌞</button>
    <button (click)="setTheme('evening')" class="btn btn-neutral">evening 🌇</button>
    <button (click)="setTheme('night')" class="btn btn-neutral">night 🌙</button>
  }

  <img src="assets/img/favicon-removebg-preview.png" />
</div>