<div class="p-10 space-y-4">
  <h1 class="text-3xl font-bold text-primary">Hello world</h1>
  <button class="btn">click me :)</button>

  <h2 class="text-2xl font-bold text-primary">Willkommen bei MechuTheme!</h2>

  <button class="btn btn-primary">Primär-Button</button>
  <button class="btn btn-secondary">Sekundär-Button</button>
  <button class="btn btn-accent">Akzent-Button</button>

  <div class="alert alert-info">Info: Dies ist eine Info-Nachricht.</div>
  <div class="alert alert-success">Erfolg: Alles hat geklappt!</div>
  <div class="alert alert-warning">Warnung: Bitte aufpassen.</div>
  <div class="alert alert-error">Fehler: Etwas ist schiefgelaufen!</div>

  <button onclick="document.documentElement.setAttribute('data-theme', 'dark')" class="btn btn-neutral">
    Dark Mode aktivieren
  </button>
  <button onclick="document.documentElement.setAttribute('data-theme', 'light')" class="btn btn-neutral">
    light Mode aktivieren
  </button>

  <button onclick="document.documentElement.setAttribute('data-theme', 'mechuTheme')" class="btn btn-neutral">
    MechuTheme aktivieren
  </button>
</div>


<router-outlet></router-outlet>