<div class="p-10 space-y-4">
  <h1 class="text-3xl font-bold text-primary">Willkommen bei Mechus eigenem Theme!</h1>

  <button class="btn btn-primary">Primär-Button</button>
  <button class="btn btn-secondary">Sekundär-Button</button>
  <button class="btn btn-accent">Akzent-Button</button>

  <div class="alert alert-info">Info: Dies ist eine Info-Nachricht.</div>
  <div class="alert alert-success">Erfolg: Alles hat geklappt!</div>
  <div class="alert alert-warning">Warnung: Bitte aufpassen.</div>
  <div class="alert alert-error">Fehler: Etwas ist schiefgelaufen!</div>

  <button class="btn btn-primary">Klick mich</button>

  <button onclick="document.documentElement.setAttribute('data-theme', 'mechuNight2')" class="btn btn-neutral">
    Mechu Night 2 Mode aktivieren
  </button>

  <button onclick="document.documentElement.setAttribute('data-theme', 'mechuNight')" class="btn btn-neutral">
    Mechu Night Mode aktivieren
  </button>

  <button onclick="document.documentElement.setAttribute('data-theme', 'mechuLight')" class="btn btn-neutral">
    Mechu Day Mode aktivieren
  </button>
  <button onclick="document.documentElement.setAttribute('data-theme', 'dark')" class="btn btn-neutral">
    Dark Mode aktivieren
  </button>

  <button onclick="document.documentElement.setAttribute('data-theme', 'light')" class="btn btn-neutral">
    Light Mode aktivieren
  </button>

  <div>
    <button onclick="document.documentElement.setAttribute('data-theme', 'morning')" class="btn btn-neutral">
      morning 🌅
    </button>

    <button onclick="document.documentElement.setAttribute('data-theme', 'noon')" class="btn btn-neutral">
      noon 🌞
    </button>

    <button onclick="document.documentElement.setAttribute('data-theme', 'evening')" class="btn btn-neutral">
      evening 🌇
    </button>

    <button onclick="document.documentElement.setAttribute('data-theme', 'night')" class="btn btn-neutral">
      night 🌙
    </button>
  </div>
</div>