@plugin "daisyui/theme" {
  name: 'customTheme';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: #f4cfc7;
  --color-primary-content: #5d4a47;
  --color-secondary: #ffc98b;
  --color-secondary-content: #6b3d14;
  --color-accent: #ffbe98;
  --color-accent-content: #5a2d19;
  --color-neutral: #d8cfc4;
  --color-neutral-content: #3c3c3c;
  --color-info: #d4c2cd;
  --color-info-content: #56394b;
  --color-success: #c6c09c;
  --color-success-content: #3c3f2f;
  --color-warning: #ffd59a;
  --color-warning-content: #5c341b;
  --color-error: #e79796;
  --color-error-content: #5a2322;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
  